@font-face {
	font-family: Fraunces144;
	src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
	font-family: Manrope;
	src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
/* Globals */
:root {
	--color-primary: #24053e;
	--color-accent: #44ffa1;
	--color-grey: #584d62;
	--color-offwhite: #fcf8ff;
	--color-white: #ffffff;
}
/* Typography */
h1 {
	font-family: Fraunces144;
	font-size: 80px;
	line-height: 80px;
	margin: 0;
}
h2 {
	font-family: Fraunces144;
	font-size: 56px;
	line-height: 64px;
}
h3 {
	font-family: Fraunces144;
	font-size: 32px;
	line-height: 40px;
}
html {
	margin: 0;
	box-sizing: border-box;
}
body {
	max-width: 1440px;
	margin: 0 auto;
	background-color: #ffffff;
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
nav {
	background-color: var(--color-primary);
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 60px 175px 30px;
}
.nav-items {
	font-family: Manrope;
	font-weight: 800;
	font-size: 18px;
}
p {
	font-family: Manrope;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	position: relative;
}
.hero::before {
	content: 'div';
	position: relative;
	background-color: var(--color-primary);
	border-radius: 0 0 50% 50%;
	width: 2880px;
	height: 600px;
	margin-bottom: -600px;
	z-index: -10;
}
.hero-text {
	max-width: 635px;
	width: 50%;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}
.hero-button,
.cta-button {
	border: none;
	font-family: Manrope;
	font-weight: 800;
	font-size: 18px;
	width: 161px;
	height: 61px;
	cursor: pointer;
	background-color: var(--color-accent);
}

.hero-button {
	margin-bottom: 30px;
}

.hero-image {
	width: 767px;
}
.bg-pattern {
	position: absolute;
}
.bg-pattern-1 {
	left: -130px;
}
.bg-pattern-2 {
	right: -50px;
	top: 300px;
}
.info-cards {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.column {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 25%;
}
.info-card-header {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	border-radius: 50%;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: Fraunces144;
	font-size: 24px;
}
.info-card-title {
	color: var(--color-primary);
	font-family: Fraunces144;
	font-size: 32px;
	margin-bottom: 30px;
}
.info-card-content {
	color: var(--color-primary);
}
.contact {
	height: 650px;
	width: 100%;
	position: relative;
	margin-bottom: 0 auto -30px;
}
.founder-image {
	position: absolute;
	width: 477px;
}
.contact-cta {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	bottom: 0;
	right: 0;
	background-color: var(--color-primary);
	color: var(--color-white);
	width: 60%;
	height: 413px;
	padding: 30px;
}
.cta-title {
	margin: 0;
}
.bg-pattern-3 {
	bottom: -5%;
	right: 5%;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
}
.footer-logo {
	margin-bottom: 60px;
}
.socials .social {
	margin: 0 10px;
}

@media (max-width: 480px) {
	.container {
		width: 100%;
	}
	nav {
		padding: 30px;
	}
	.hero::before {
		content: 'div';
		position: relative;
		background-color: var(--color-primary);
		border-radius: 0 0 50% 50%;
		width: 960px;
		height: 375px;
		margin-bottom: -375px;
		z-index: -10;
	}
	.hero-text {
		width: 100%;
		font-size: 50px;
		line-height: 1;
	}
	.hero-image {
		width: 320px;
	}
	.bg-pattern {
		display: none;
	}
	.info-cards {
		flex-direction: column;
		padding: 0;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}
	.column {
		width: 90%;
		flex-direction: column;
	}
	.info-card-header {
		margin: 30px 0;
	}
	.info-card-title {
		margin-bottom: 0;
		font-family: 28px;
	}
	.contact {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		margin-bottom: -60px;
	}
	.founder-image {
		position: relative;
		width: 80%;
	}
	.contact-cta {
		width: 100%;
		position: relative;
		top: -60px;
		left: 0;
		height: 375px;
		text-align: center;
		align-items: center;
	}
	.cta-title {
		font-size: 32px;
	}
	.cta-body {
		font-size: 16px;
		margin: 0 30px 30px;
	}
}
@media (max-width: 1025px) and (min-width: 480px) {
	.container {
		width: 100%;
	}
	nav {
		padding: 60px 60px 0px;
	}
	.hero::before {
		content: 'div';
		position: relative;
		background-color: var(--color-primary);
		border-radius: 0 0 50% 50%;
		width: 1440px;
		height: 450px;
		margin-bottom: -375px;
		z-index: -10;
	}
	.hero-text {
		font-size: 60px;
		line-height: 1;
	}
	.hero-image {
		width: 514px;
	}
	.info-cards {
		flex-direction: column;
		align-items: center;
	}
	.info-cards .column {
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		margin-bottom: 30px;
	}
	.info-card-header {
		min-width: 48px;
		margin-right: 30px;
	}
	.info-card-body {
		text-align: left;
		font-size: 16px;
	}
	.info-card-title {
		margin-bottom: 15px;
	}

	.contact {
		width: 90%;
		margin: auto;
		height: 450px;
	}
	.founder-image {
		width: 281px;
	}
	.contact-cta {
		height: 250px;
	}
	.cta-title {
		font-size: 32px;
		line-height: 1;
	}
	.cta-body {
		font-size: 16px;
		line-height: 1.5;
	}
}
